h1 {
  text-align: center;
  margin: 20px 0;

}
.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 30px;
}

.bnt {
font-size: medium;
border-radius: 5;
margin-top: 10px;
text-align: center;
background-color: #C21010;
align-self: center;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}


.bnt-voltar {
  margin-top: -650px;
  margin-left: 30px;
}


.bnt-comprar {
  background-color: #C21010;
  align-self: center;
}



.container-show {
  margin-left: 40%;
  margin-top: 30px;


}
