h1 {
  text-align: center;
  margin: 20px 0;
}

.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 30px;
  margin-left: 80px;
}

.container-show {
  margin-left: 40%;
  margin-top: 30px;
}
