<div class="bg-img">
  <div class="container-home">
    <div class="entry">
      <div class="entry-info">
      <h1 class="h1-home">Red Lights</h1>
      <h4>Para maiores de 18.</h4>
      <%= link_to "Entrar", products_path(@products), class: "btn-home" %>
      </div>
    </div>
  </div>
</div>
