.btn-flat {
  color: #FFF;
  font-size: medium;
  border-radius: 5;
  margin-top: 10px;
  text-align: center;
  background-color: #C73352;
  align-self: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-ghost {
  margin-top: 40px;
  text-decoration: none;
  background: transparent !important;
  color: #4A4A4A;
  padding: 8px 24px;
  border: none;
  font-weight: lighter;
  opacity: 0.7;
  // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-ghost:hover {
  opacity: 0.4;
  color: rgb(201, 190, 190);
}

.bnt {
  font-size: medium;
  border-radius: 5;
  margin-top: 10px;
  text-align: center;
  background-color: #C21010;
  align-self: center;
  // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.links-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-signup {
  width: 100px;
}

.btn-login {
  color: #FFF;
  font-size: medium;
  border-radius: 5;
  margin-top: 10px;
  text-align: center;
  background-color: #C73352;
  align-self: center;
  width: 100px;
}

.btn-home {
  background-color: #C73352;
  color: #FFF;
  font-size: medium;
  padding: 15px;
  text-decoration: none;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  margin: 30px 0px 0px 0px;
}

.btn-home:hover {
  background-color: #f05c80;
  color:#FFF;
  font-size: medium;
  text-decoration: none;
}

.bnt-voltar {
  margin-top: -650px;
  margin-left: 30px;
}


.bnt-comprar {
  background-color: #C21010;
  align-self: center;
}

.btn-flat-profile {
  color: #FFF;
  font-size: medium;
  border-radius: 5;
  margin-top: 10px;
  text-align: center;
  background-color: #C73352;
  align-self: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 117px;
}

.btn-flat-add {
  color: #FFF;
  font-size: medium;
  border-radius: 5;
  margin-top: 10px;
  text-align: center;
  background-color: #36DAE6;
  align-self: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-profile-add {
  color: #FFF;
  font-size: medium;
  border-radius: 5;
  margin-top: 10px;
  text-align: center;
  background-color: #36DAE6;
  align-self: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 220px;
}

.btn-flat-voltar {
  color: #FFF;
  font-size: medium;
  border-radius: 5;
  margin-top: 10px;
  text-align: center;
  background-color: #F9BB0A;
  align-self: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
