.h1-home {
  font-family: 'Rock Salt', cursive;
  text-align: left;
  font-size: 40px;
  color: #1d0802;
  text-decoration: none;
}

.logo {
  font-family: 'Rock Salt', cursive;
  text-align: left;
  font-size: 40px;
  color: #1d0802;
  text-decoration: none;
  margin: 0 0 0 30px;
}

.logo:hover {
  color: #C73352;
}
