<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1><strong>Permita-se!</strong></h1>
    <p>As melhores ofertas para o seu prazer.</p>
  </div>
</div>

<div class = "container">
<div class="products-container mt-10">
  <% @products.each do |product| %>
    <div class="flat-card">
    <div class="card-img" style="background-image: url('<%= cl_image_path product.photos.first.key %>');" >
    </div>
      <%# cl_image_tag product.photos.first.key, width: 400, height: 300, crop: :fit %>

      <div class="product-name mt-8 text-center d-flex flex-column">
        <span><%= product.name %></span>
        <span><%= "R$ #{product.price}" %></span>
      </div>
      <%# <div class="product-price text-center">
      </div> %>
      <div class="d-flex justify-content-center">
        <%= link_to "Ver mais", product_path(product[:id]), class: "btn btn-flat w-100" %>
      </div>
    </div>
  <% end %>
</div>
</div>
